$primary-color: #20948B;
$secondary-color: #6AB187;
$extra-color: #A1BE95;
$button-color: rgb(6, 109, 30);
$accent-color: #735DA5;
$hover-color: #8860D0;
$background-color: #735DA5;
$text-color: #333;
$border-color: #f882d7;

$font-stack: 'Roboto', sans-serif;
$base-font-size: 16px;
$heading-font-weight: 700;


$spacer: 1rem;


$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;