$primary-color: #E8FCCF;
$secondary-color: #214f4b;
$extra-color: #A2D6F9;
$button-color: rgb(6, 109, 30);
$accent-color: #3DA35D;
$hover-color: #4036AB;
$extra-2: #9FC490;
$background-color: #C2D076;
$main-background: #E3ECD4;
$text-color: BLACK;
$border-color: #f882d7;
$alert-color: #A697D8;

// /* Global link colors */
$link-text-color: #0000EE;
$link-visited-color: #551A8B;
$link-active-color: #FF0000;
$link-hover-color: #0000EE;


$font-stack: 'Roboto', sans-serif;
$base-font-size: 16px;
$heading-font-weight: 700;


$spacer: 1rem;


$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;